@import 'variable.css';

@media (max-width:576px) {
    .container {
        width: 100%;
        max-width: 100%;
    }

    header .navbar .nav-bar {
        display: none;
    }

    .topheader {
        display: none;
    }

    .home-page {
        padding: 50px 0;
    }

    .home-page h1 {
        font-size: calc(4.5vw + 16px);
    }

    .home-page .title2 {
        transform: translateX(0);
    }

    .services h1 {
        text-align: center;
    }

    .services .cardbox {
        grid-template-columns: repeat(1, 1fr);
    }

    .about .about-data {
        flex-direction: column;
    }

    .about .about-data .data {
        padding: var(--space-2);
    }
}

/* =============================================================== */
@media (min-width:576px) {
    .container {
        max-width: 550px;
    }

    header .navbar .nav-bar {
        display: none;
    }

    .topheader {
        display: none;
    }

    .home-page {
        padding: 70px 0;
    }

    .home-page h1 {
        font-size: calc(5.5vw + 20px);
    }

    .home-page .title2 {
        transform: translateX(0);
    }

    .services h1 {
        text-align: center;
    }

    .services .cardbox {
        justify-items: center;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .about .about-data {
        flex-direction: column;
    }

    .about .about-data .data {
        padding: var(--space-2);
    }
}

/* =============================================================== */
@media (min-width:768px) {
    .container {
        max-width: 750px;
    }

    .home-page .title2 {
        transform: translateX(50px);
    }

    .services .cardbox {
        justify-items: center;
        text-align: unset;
        grid-template-columns: repeat(2, 1fr);
    }

    .about .about-data {
        text-align: center;
    }
}

/* ================================================================== */

@media (min-width:992px) {
    .container {
        max-width: 970px;
    }

    .topheader {
        display: block;
    }

    .home-page {
        padding: 130px 0;
    }

    .home-page h1 {
        font-size: calc(5.5vw + 25px);
    }

    .services .cardbox {
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .about .about-data .profile .ab-comp {
        left: 85px;
    }
}

/* =============================================================== */
@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }

    header .navbar .nav-bar {
        display: flex;
    }

    header .navbar .menubtn {
        display: none;
    }

    .home-page {
        padding: 170px 0;
    }

    .home-page .title2 {
        transform: translateX(100px);
    }

    .about .about-data {
        flex-direction: row;
        text-align: unset;
    }

    .about .about-data .data {
        padding: 0 var(--space-10) 0 var(--space-4);
    }

    .about .about-data .profile .ab-comp {
        left: 0;
    }
}

/* =============================================================== */

@media (min-width:1400px) {
    .container {
        max-width: 1340px;
    }
}

/* =============================================================== */