@import 'variable.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: auto;
    padding: 0 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.imgset {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/* -------------------------------------------------------- */
.topheader {
    background-color: var(--darkblue);
    border-bottom: var(--b1) solid rgb(130, 130, 130);
}

.topheader .infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-2) 0;
}

.topheader .infor .contact-info {
    display: flex;
    gap: var(--space-2);
    color: var(--white);
    font-size: 14px;
}

.topheader .infor .contact-info a {
    color: var(--white);
}

.topheader .infor .social {
    display: flex;
    gap: var(--space-1);
}

.topheader .infor .social .icon {
    height: 35px;
    width: 35px;
    border: var(--b1) solid var(--white);
    background-color: transparent;
    display: grid;
    place-content: center;
    border-radius: var(--b-circle);
    transition: 0.4s ease all;
}

.topheader .infor .social .icon a {
    color: var(--white);
    transition: 0.4s ease all;
}

.topheader .infor .social .icon:hover {
    background-color: var(--white);
}

.topheader .infor .social .icon:hover a {
    color: var(--orange);
}

/* ---------------------------------------------------------  */
header {
    position: sticky;
    top: 0;
    z-index: 111;
    width: 100%;
    background-color: var(--darkblue);
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-2) 0;
}

header .navbar .logo {
    color: var(--white);
    font-size: var(--font5);
}

header .navbar .nav-bar {
    display: flex;
    gap: var(--space-5);
    align-items: center;
}

header .navbar .nav-bar .nav {
    display: flex;
    gap: var(--space-2);
    align-items: center;
}

header .navbar .nav-bar .nav li {
    padding: var(--space-1);
}

header .navbar .nav-bar .nav li a {
    color: var(--white);
}

header .navbar .nav-bar .nav li a:hover {
    color: var(--orange);
}

header .navbar .nav-bar .contact button {
    padding: var(--space-1) var(--space-2);
    background: var(--orange);
    border: var(--b1) solid transparent;
    color: var(--white);
    text-transform: uppercase;
    border-radius: var(--br5);
}

header .navbar .menubtn button {
    height: 42px;
    width: 42px;
    font-size: 20px;
    background-color: transparent;
    border: var(--b2) solid var(--white);
    color: var(--white);
}

/* ---------------------------------------------------------------- */
.home-page {
    background-image: url(https://preview.colorlib.com/theme/constructioncompany/assets/img/hero/h1_hero.jpg.webp);
    background-position: center;
    background-size: cover;
    padding: 170px 0;
    background-color: rgba(12, 12, 95, 0.8);
    background-blend-mode: multiply;
}

.home-page h1 {
    font-size: calc(5.5vw + 25px);
    text-transform: uppercase;
    line-height: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.home-page .title1 {
    color: var(--orange);
}

.home-page .title2 {
    color: transparent;
    background-image: linear-gradient(var(--orange), transparent);
    animation: change 1s ease infinite;
    background-clip: text;
    -webkit-text-stroke: 1px var(--white);
}

.home-page .sm-title {
    color: var(--white);
    text-transform: uppercase;
    padding: var(--space-2) 0;
}

.home-page .sm-title::before {
    content: "";
    height: 3px;
    width: 42px;
    background-color: var(--orange);
    display: inline-block;
    margin: 2px 5px;

}

@keyframes change {
    0% {
        background-image: linear-gradient(var(--orange), transparent);
    }

    50% {
        background-image: linear-gradient(160deg, var(--orange), transparent);
    }

    100% {
        background-image: linear-gradient(270deg, var(--orange), transparent);
    }
}

/* ===========================================================  */
.services h1 {
    font-size: var(--font2);
    text-transform: uppercase;
    padding-top: var(--space-5);
    padding-bottom: var(--space-2);
}

.services .cardbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-2);
    padding-bottom: var(--space-5);
}

.services .cardbox .cards {
    border-bottom: 2px solid var(--orange);
}

.services .cardbox .cards .card-img {
    overflow: hidden;
}

.services .cardbox .cards img {
    transition: 0.5s ease-in-out;
}

.services .cardbox .cards:hover img {
    scale: 1.1;
}

.services .cardbox .cards .card-text {
    padding: var(--space-2);
}

.services .cardbox .cards .card-text a {
    color: var(--black);
    transition: 0.5s ease;
}

.services .cardbox .cards .card-text a:hover {
    color: var(--orange);
}

.services .cardbox .cards .card-text .fwd {
    padding: var(--space-2) 0;
    display: flex;
    gap: var(--space-2);
    align-items: center;
}

.services .cardbox .cards .card-text button {
    height: 35px;
    width: 35px;
    background-color: transparent;
    color: var(--black);
    border: none;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.services .cardbox .cards:hover button {
    background-color: var(--orange);
    color: var(--white);
}